@import '../../index.scss';

.menu-right {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.8);
    display: flex;
    justify-content: end;
    // opacity: 1;
    // transition: opacity .3s ease;

    &__container {
        width: 60vw;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 6rem 2rem;

        p {
            font-style: italic;
            margin-bottom: 2rem
        }
    }

    .dark {
        @include dark-theme;
      }
    
    .light {
        @include light-theme;
    }
}