@import '../../index.scss';

header {
  position: fixed;
  z-index: 2;
  margin: auto;
  top: 0;
  width: 50vw;
  left: 25vw;
}

.head-block {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
  width: 50px;
  height: 50px;
  overflow: hidden;
  transform: translateY(2rem);
  border-radius: 25px;
  box-shadow: 0 11px 30px transparent;
  transition: all 0.4s ease;

  &__icon {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0.6em 1em;
    cursor: pointer;
  }

  &__drop {
    opacity: 1;
    overflow: hidden;
    width: 600px;
  }

  .dark {
    @include dark-theme;
  }

  .light {
    @include light-theme;
  }

  p {
    font-style: italic;
    font-size: 1.25rem;
    margin: 1rem 2rem;
  } 


  &.expand {
    transform: translateY(0px);
    height: 60vh;
    padding: 2rem;
    border-radius: 0 0 6px 6px;
    width: 100%;
    box-shadow: 0 11px 30px rgba(31,31,31,.5);
  }
}


h1 {
  font-size: 6vw;
  line-height: 1;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  transform: skewY(-6deg);
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-shadow: 5px 5px rgba(94, 238, 81, 0.65);
}

@media (max-width: 768px) {
  .head-block {
    width: 100vw;
    left: 0;
  }
}