@import "../../index.scss";

.columns {
    transition: color 0.3s ease, background-color 0.6s ease;
    overflow: hidden;
    height: 3300px;
    width: 100dvw;

    &.dark {
      @include dark-theme;
    }
  
    &.light {
      @include light-theme;
    }
}

.column {
  width: calc(100vw / 3);
  position: fixed;
  height: 100%;

  &:last-child {
    right: 0;
  }

  &:nth-child(2) {
      left: calc(100vw / 3);
  }

  &__rail {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    margin: 1rem;
    height: 3300px;
    animation: Yslide 20s infinite;

    &.reversed {
      animation: YslideReversed 20s infinite;
    }
  }
}

@keyframes Yslide {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes YslideReversed {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}


@media (max-width: 980px) {
  .columns {
    height: 2000px;
    .column__rail {
      height: 2000px;
    }
  }
}
  
@media (max-width: 576px) {
  .columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    min-height: 100vh;

    .column {
      position: relative;
      width: 100%;

      &__rail {
        position: initial;
        height: fit-content;
        margin: 0;
        animation: none;

        &.reversed {
          animation: noen;
        }
      }
      &:nth-child(2) {
        left: 0;
      }
    }
  }
}