@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-family: 'Space Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --grey900: #1F1F1F;
  --grey800: #323232;
  --cream100: #FFF7E9;
  --green500: #5EEE51;
  --mobile: 576px;
  --tablet: 980px;
}

@mixin light-theme {
  color: var(--grey900);
  background-color: var(--cream100);
}

@mixin dark-theme {
  color: var(--cream100);
  background-color: var(--grey900);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  overflow-x: hidden;
}

@mixin button-style {
  display: flex;
  gap: .5rem;
  align-items: center;
  border-radius: 25px;
  height: 50px;
  padding: 0.6em 1em;
  cursor: pointer;
  box-shadow: 0 11px 30px rgba(31,31,31,.5);
}

.nav-block {
  position: fixed;
  z-index: 3;
  margin: 2rem;
  min-width: 50px;
  width: fit-content;
  @include button-style;
  transition: color 0.3s ease, background-color 0.6s ease;

  @media (max-width: var(--tablet)) {
    margin: 1rem;
  }

  &.dark {
    @include dark-theme;
  }

  &.light {
    @include light-theme;
  }
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.menu {
  z-index: 6;
}

a {
  font-weight: 700;
  text-decoration: underline;
  color: var(--cream100);
}

.share a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #323232;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    padding: .4rem;
    transition: all .3s ease;

    &:hover {
      background-color: var(--green500);
      color: var(--grey800);
    }
}

h2 {
  margin: 2rem 0;
}